USE [VinidiktovDay1]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[ID_Agent] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DealShare] [int] NOT NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[ID_Agent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentDemands]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentDemands](
	[ID_ApartmentDemands] [int] NOT NULL,
	[Address_City] [nvarchar](50) NULL,
	[Address_Street] [int] NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[MinPrice] [nvarchar](50) NULL,
	[MaxPrice] [nvarchar](50) NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinArea] [nvarchar](max) NULL,
	[MaxArea] [nvarchar](max) NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
 CONSTRAINT [PK_ApartmentDemands] PRIMARY KEY CLUSTERED 
(
	[ID_ApartmentDemands] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[ID_Apartment] [int] NOT NULL,
	[Address_City] [nvarchar](50) NULL,
	[Address_Street] [int] NOT NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[Coordinate_latitude] [nvarchar](50) NULL,
	[Coordinate_longitude] [nvarchar](50) NULL,
	[TotalArea] [nvarchar](max) NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
 CONSTRAINT [PK_Apartments] PRIMARY KEY CLUSTERED 
(
	[ID_Apartment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID_Client] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[ID_Districts] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Area] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[ID_Districts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseDemands]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseDemands](
	[ID_HouseDemands] [int] NOT NULL,
	[Address_City] [nvarchar](50) NULL,
	[Address_Street] [int] NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[MinPrice] [nvarchar](50) NULL,
	[MaxPrice] [nvarchar](50) NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinFloors] [nvarchar](50) NULL,
	[MaxFloors] [nvarchar](50) NULL,
	[MinArea] [nvarchar](50) NULL,
	[MaxArea] [nvarchar](50) NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
 CONSTRAINT [PK_HouseDemands] PRIMARY KEY CLUSTERED 
(
	[ID_HouseDemands] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Houses]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houses](
	[ID_House] [int] NOT NULL,
	[Address_City] [nvarchar](50) NULL,
	[Address_Street] [int] NOT NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[Coordinate_latitude] [nvarchar](50) NULL,
	[Coordinate_longitude] [nvarchar](50) NULL,
	[TotalFloors] [nvarchar](50) NULL,
	[TotalArea] [nvarchar](50) NULL,
 CONSTRAINT [PK_Houses] PRIMARY KEY CLUSTERED 
(
	[ID_House] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandDemands]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandDemands](
	[ID_LandDemands] [int] NOT NULL,
	[Address_City] [nvarchar](50) NULL,
	[Address_Street] [int] NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[MinPrice] [nvarchar](50) NULL,
	[MaxPrice] [nvarchar](50) NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinArea] [nvarchar](max) NULL,
	[MaxArea] [nvarchar](max) NULL,
 CONSTRAINT [PK_LandDemands] PRIMARY KEY CLUSTERED 
(
	[ID_LandDemands] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lands]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lands](
	[ID_Land] [int] NOT NULL,
	[Address_City] [nvarchar](50) NULL,
	[Address_Street] [int] NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[Coordinate_latitude] [nvarchar](50) NULL,
	[Coordinate_longitude] [nvarchar](50) NULL,
	[TotalArea] [nvarchar](50) NULL,
 CONSTRAINT [PK_Lands] PRIMARY KEY CLUSTERED 
(
	[ID_Land] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 23.03.2024 14:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[ID_Street] [int] NOT NULL,
	[NameStreet] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Street] PRIMARY KEY CLUSTERED 
(
	[ID_Street] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agents] ([ID_Agent], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[Agents] ([ID_Agent], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[Agents] ([ID_Agent], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
GO
INSERT [dbo].[ApartmentDemands] ([ID_ApartmentDemands], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, 4, 23, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ApartmentDemands] ([ID_ApartmentDemands], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (6, N'Тюмень', NULL, NULL, NULL, NULL, N'3100000', 7, 5, N'20', NULL, NULL, NULL, 4, NULL)
INSERT [dbo].[ApartmentDemands] ([ID_ApartmentDemands], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (7, N'Тюмень', 13, NULL, NULL, NULL, NULL, 24, 25, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Apartments] ([ID_Apartment], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor]) VALUES (1, N'Тюмень', 13, N'25', N'12', N'0', N'0', N'41.7', 1, 3)
INSERT [dbo].[Apartments] ([ID_Apartment], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor]) VALUES (2, N'Тюмень', 5, N'8', N'44', N'0', N'0', N'105', 3, 5)
INSERT [dbo].[Apartments] ([ID_Apartment], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor]) VALUES (3, N'Тюмень', 7, N'139', N'6', N'0', N'0', N'62', 3, 2)
GO
INSERT [dbo].[Clients] ([ID_Client], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семенов', N'Евгений ', N'Николаевич', N'32-25-55', NULL)
INSERT [dbo].[Clients] ([ID_Client], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', NULL, N'dummy@email.ru')
INSERT [dbo].[Clients] ([ID_Client], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', NULL, N'client@esoft.tech')
GO
INSERT [dbo].[Districts] ([ID_Districts], [Name], [Area]) VALUES (1, N'Лесная поляна с/о', N'((57.0731042147057,65.549416154359),(57.0745884264208,65.5493517813426),(57.0745884264208,65.5516048369151),(57.0725432372756,65.5515404638987),(57.0731042147057,65.549416154359))')
INSERT [dbo].[Districts] ([ID_Districts], [Name], [Area]) VALUES (2, N'Марай ', N'((56.8549652558969,66.014590740761),(56.8566110370811,66.0143332486955),(56.860184483092,66.0265212064592),(56.8588679902234,66.0328726774065),(56.8566110370811,66.0313277250139),(56.8532723765529,66.0339884763566),(56.8532253510366,66.0188822751848),(56.8530842741093,66.0194830900041),(56.8549652558969,66.014590740761))')
INSERT [dbo].[Districts] ([ID_Districts], [Name], [Area]) VALUES (3, N'Ольховое с/о', N'((56.9367892844497,65.8276850838403),(56.9354285777792,65.829616274331),(56.9356162644209,65.8304316658715),(56.9358039501145,65.8316762108544),(56.9373992402273,65.8348948616723),(56.9388302510096,65.8318478722314),(56.9367892844497,65.8276850838403))')
GO
INSERT [dbo].[HouseDemands] ([ID_HouseDemands], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinArea], [MaxArea], [MinRooms], [MaxRooms]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, 4, 16, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HouseDemands] ([ID_HouseDemands], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinArea], [MaxArea], [MinRooms], [MaxRooms]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, 19, 10, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Houses] ([ID_House], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (3, N'Тюмень', 3, N'вцф', N'20', N'20', N'20', N'2', N'20')
INSERT [dbo].[Houses] ([ID_House], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (9, N'Тюмень', 2, N'25', NULL, N'0', N'0', N'2', N'84.4')
INSERT [dbo].[Houses] ([ID_House], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (10, N'Тюмень', 14, NULL, NULL, N'0', N'0', N'3', N'130')
GO
INSERT [dbo].[LandDemands] ([ID_LandDemands], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, 15, 12, NULL, NULL)
INSERT [dbo].[LandDemands] ([ID_LandDemands], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea]) VALUES (5, NULL, NULL, NULL, NULL, NULL, NULL, 1, 14, NULL, NULL)
GO
INSERT [dbo].[Lands] ([ID_Land], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (12, N'Тюмень', 6, NULL, NULL, N'0', N'0', N'20.3')
INSERT [dbo].[Lands] ([ID_Land], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (13, N'Тюмень', 3, NULL, NULL, N'0', N'0', N'12.45')
INSERT [dbo].[Lands] ([ID_Land], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (14, N'Тюмень', 11, NULL, NULL, N'0', N'0', N'12')
GO
INSERT [dbo].[Street] ([ID_Street], [NameStreet]) VALUES (1, N'Энергостроителей')
INSERT [dbo].[Street] ([ID_Street], [NameStreet]) VALUES (2, N'1-й Заречный')
INSERT [dbo].[Street] ([ID_Street], [NameStreet]) VALUES (3, N'Алексеевский хутор')
GO
ALTER TABLE [dbo].[ApartmentDemands]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentDemands_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([ID_Agent])
GO
ALTER TABLE [dbo].[ApartmentDemands] CHECK CONSTRAINT [FK_ApartmentDemands_Agents]
GO
ALTER TABLE [dbo].[ApartmentDemands]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentDemands_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ID_Client])
GO
ALTER TABLE [dbo].[ApartmentDemands] CHECK CONSTRAINT [FK_ApartmentDemands_Clients]
GO
ALTER TABLE [dbo].[ApartmentDemands]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentDemands_Street] FOREIGN KEY([Address_Street])
REFERENCES [dbo].[Street] ([ID_Street])
GO
ALTER TABLE [dbo].[ApartmentDemands] CHECK CONSTRAINT [FK_ApartmentDemands_Street]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Street] FOREIGN KEY([Address_Street])
REFERENCES [dbo].[Street] ([ID_Street])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Street]
GO
ALTER TABLE [dbo].[HouseDemands]  WITH CHECK ADD  CONSTRAINT [FK_HouseDemands_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([ID_Agent])
GO
ALTER TABLE [dbo].[HouseDemands] CHECK CONSTRAINT [FK_HouseDemands_Agents]
GO
ALTER TABLE [dbo].[HouseDemands]  WITH CHECK ADD  CONSTRAINT [FK_HouseDemands_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ID_Client])
GO
ALTER TABLE [dbo].[HouseDemands] CHECK CONSTRAINT [FK_HouseDemands_Clients]
GO
ALTER TABLE [dbo].[HouseDemands]  WITH CHECK ADD  CONSTRAINT [FK_HouseDemands_Street] FOREIGN KEY([Address_Street])
REFERENCES [dbo].[Street] ([ID_Street])
GO
ALTER TABLE [dbo].[HouseDemands] CHECK CONSTRAINT [FK_HouseDemands_Street]
GO
ALTER TABLE [dbo].[Houses]  WITH CHECK ADD  CONSTRAINT [FK_Houses_Street] FOREIGN KEY([Address_Street])
REFERENCES [dbo].[Street] ([ID_Street])
GO
ALTER TABLE [dbo].[Houses] CHECK CONSTRAINT [FK_Houses_Street]
GO
ALTER TABLE [dbo].[LandDemands]  WITH CHECK ADD  CONSTRAINT [FK_LandDemands_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([ID_Agent])
GO
ALTER TABLE [dbo].[LandDemands] CHECK CONSTRAINT [FK_LandDemands_Agents]
GO
ALTER TABLE [dbo].[LandDemands]  WITH CHECK ADD  CONSTRAINT [FK_LandDemands_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ID_Client])
GO
ALTER TABLE [dbo].[LandDemands] CHECK CONSTRAINT [FK_LandDemands_Clients]
GO
ALTER TABLE [dbo].[LandDemands]  WITH CHECK ADD  CONSTRAINT [FK_LandDemands_Street] FOREIGN KEY([Address_Street])
REFERENCES [dbo].[Street] ([ID_Street])
GO
ALTER TABLE [dbo].[LandDemands] CHECK CONSTRAINT [FK_LandDemands_Street]
GO
ALTER TABLE [dbo].[Lands]  WITH CHECK ADD  CONSTRAINT [FK_Lands_Street] FOREIGN KEY([Address_Street])
REFERENCES [dbo].[Street] ([ID_Street])
GO
ALTER TABLE [dbo].[Lands] CHECK CONSTRAINT [FK_Lands_Street]
GO
